In [ ]:

"""
pip install pandas
pip install --upgrade pandas
"""

In [1]:
import pandas as pd

In [2]:
#demilitador e virgula
#pd.read_csv --- armazenar e importar para fazer a leitura
# read - ler / head - 
#delimiter - delemitador -  delemiter ' qual delemitador' tem passar o parametro
df = pd.read_csv(r"C:\Users\Leticia\Desktop\Python-Banco de Dados\Banco de dados\Origem\arquivos_csv\Clientes.csv",delimiter=',')
df.head()

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12

In [ ]:
# Filtrar 1 item especifico de uma coluna
#loc e localizar um coluna
#nome = df.loc[df['last_name'] == 'Jesus']
nome = df.loc[df['last_name'] == 'Jesus']


#df = pd.DataFrame({"frutas": ["banana", "laranja", "pera", "uva", "banana", "pera"], "codigo": ["um", "dois", "mxrf11", "quatro", "cinco", "seis"]})

In [3]:
estado = df.loc[df['street'] == 'Avenida 56 do Estado Rio Grande do Sul']

In [4]:
estado

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17

In [15]:
#crio a variavel declaro os nomes que precisa
nome=['Almeida', 'Jesus	', 'Teixeira']
#localizar *LOC* isin o nome da variavel
nome = df.loc[df['last_name'].isin(nome)]

In [16]:
nome

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12
30,30,2018-06-08 07:49:50,Gabriel,Teixeira,gabriel@exemplo.com,9 7419-5325,Brasil,Rio Grande do Sul,Avenida 7 do Estado Rio Grande do Sul,94.0,NaN
42,42,2018-04-09 19:12:23,João,Almeida,joão@usuario.com,9 4650-1753,Brasil,Goiás,Praça 3 do Estado Goiás,986.0,Apto 9
54,54,2018-01-25 02:11:25,Diego,Teixeira,diego@exemplo.com,9 5247-1737,Brasil,Pará,Rua 8 do Estado Pará,722.0,Conjunto 16
73,73,2018-02-03 07:37:38,Cristiano,Almeida,cristiano@usuario.com,9 2630-9907,Brasil,NaN,NaN,NaN,Conjunto 24
74,74,2018-04-22 05:00:28,Júlia,Almeida,júlia@meu_email.com,9 9208-5213,Brasil,Maranhão,Praça 25 do Estado Maranhão,953.0,Conjunto 4
85,85,2017-11-24 12:44:36,Eduardo,Teixeira,NaN,9 2537-7930,Brasil,Rio Grande do Norte,NaN,NaN,NaN

In [5]:
df.head(10)

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12
5,5,2018-01-05 17:20:49,Marcelo,Barroso,NaN,9 2830-2088,Brasil,Rio Grande do Sul,Rua 28 do Estado Rio Grande do Sul,805.0,Conjunto 13
6,6,2018-06-18 11:17:42,Cristiano,Elísio,cristiano@exemplo.com,9 3532-8404,Brasil,Goiás,Rua 78 do Estado Goiás,877.0,Apto 14
7,7,2018-02-08 12:36:09,Everton,Barbosa,everton@meu_email.com,9 2553-4087,Brasil,Distrito Federal,Avenida 86 do Estado Distrito Federal,864.0,Apto 14
8,8,2017-12-16 20:47:03,Gabriela,Alves,gabriela@exemplo.com,9 1353-8433,Brasil,Santa Catarina,NaN,NaN,NaN
9,9,2018-11-11 11:48:41,Luan,Dias,luan@exemplo.com,9 2417-3678,Brasil,Distrito Federal,Avenida 54 do Estado Distrito Federal,889.0,Conjunto 14

In [6]:
# escolher estados especificos
estados = ['Rio de Janeiro','Ceará', 'Rondônia','Bahia']
Df_estados = df.loc[df['state'].isin(estados)]
Df_estados

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12
21,21,2018-02-21 15:35:55,Diego,Freire,diego@teste.com,9 6686-4094,Brasil,Bahia,Praça 4 do Estado Bahia,906.0,Apto 20
24,24,2018-07-25 09:34:12,Jair,Barroso,jair@teste.com,9 6679-6120,Brasil,Ceará,Rua 86 do Estado Ceará,770.0,Apto 21
32,32,2018-07-22 11:59:27,Ana,Campos,ana@teste.com,9 1932-9841,Brasil,Bahia,Avenida 52 do Estado Bahia,402.0,NaN
43,43,2018-01-07 07:54:22,Daniela,Lima,NaN,9 1763-2584,Brasil,Rio de Janeiro,NaN,NaN,Apto 20
47,47,2018-09-01 23:00:40,Júlia,Castro,júlia@exemplo.com,9 7096-1780,Brasil,Rio de Janeiro,Rua 39 do Estado Rio de Janeiro,983.0,Conjunto 7
48,48,2018-05-29 04:22:54,Clarissa,Albuquerque,clarissa@exemplo.com,9 7403-4273,Brasil,Ceará,NaN,NaN,Apto 12
49,49,2018-11-01 02:13:51,Júlia,Sousa,júlia@exemplo.com,9 2094-8467,Brasil,Rondônia,Rua 12 do Estado Rondônia,260.0,Apto 27
55,55,2018-07-10 18:40:07,Gabriela,Pires,gabriela@meu_email.com,9 1214-1539,Brasil,Rio de Janeiro,Rua 32 do Estado Rio de Janeiro,838.0,Apto 29
58,58,2018-09-13 03:13:02,Rafael,Rodrigues,rafael@meu_email.com,9 6550-3557,Brasil,Bahia,Praça 94 do Estado Bahia,647.0,Apto 25
63,63,2018-05-05 17:52:26,Caíque,Batista,caíque@teste.com,9 8818-5886,Brasil,Ceará,Rua 76 do Estado Ceará,239.0,Apto 19
65,65,2018-02-06 05:56:36,Willian,Freitas,NaN,9 3043-7382,Brasil,Rio de Janeiro,Rua 91 do Estado Rio de Janeiro,96.0,Apto 7
68,68,2018-11-14 11:04:35,José,Pires,josé@usuario.com,9 8189-2149,Brasil,Ceará,Avenida 99 do Estado Ceará,231.0,NaN
77,77,2018-11-30 10:29:55,Ana,Monteiro,ana@teste.com,9 3871-4132,Brasil,Bahia,Praça 86 do Estado Bahia,604.0,Apto 30
88,88,2017-10-12 15:17:05,Rafael,Batista,rafael@usuario.com,9 8656-5668,Brasil,Ceará,Rua 78 do Estado Ceará,787.0,Apto 3
89,89,2017-12-07 19:24:54,Daniela,Pires,daniela@usuario.com,9 6666-2265,Brasil,Bahia,Rua 31 do Estado Bahia,441.0,NaN

In [7]:
#Tab e entre = para dar espaço indentar. 
Df_estados2 = df.loc[df['state'].isin(['Rio de Janeiro','Ceará', 'Rondônia','Bahia','Ceará', 'Rondônia','Bahia','Ceará',    
                                       'Rondônia','Bahia','Ceará', 'Rondônia','Bahia','Ceará', 'Rondônia','Bahia','Ceará',  
                                       'Rondônia','Bahia','Ceará', 'Rondônia','Bahia','Ceará', 'Rondônia','Bahia','Ceará',  
                                       'Rondônia','Bahia'])]
Df_estados2

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12
21,21,2018-02-21 15:35:55,Diego,Freire,diego@teste.com,9 6686-4094,Brasil,Bahia,Praça 4 do Estado Bahia,906.0,Apto 20
24,24,2018-07-25 09:34:12,Jair,Barroso,jair@teste.com,9 6679-6120,Brasil,Ceará,Rua 86 do Estado Ceará,770.0,Apto 21
32,32,2018-07-22 11:59:27,Ana,Campos,ana@teste.com,9 1932-9841,Brasil,Bahia,Avenida 52 do Estado Bahia,402.0,NaN
43,43,2018-01-07 07:54:22,Daniela,Lima,NaN,9 1763-2584,Brasil,Rio de Janeiro,NaN,NaN,Apto 20
47,47,2018-09-01 23:00:40,Júlia,Castro,júlia@exemplo.com,9 7096-1780,Brasil,Rio de Janeiro,Rua 39 do Estado Rio de Janeiro,983.0,Conjunto 7
48,48,2018-05-29 04:22:54,Clarissa,Albuquerque,clarissa@exemplo.com,9 7403-4273,Brasil,Ceará,NaN,NaN,Apto 12
49,49,2018-11-01 02:13:51,Júlia,Sousa,júlia@exemplo.com,9 2094-8467,Brasil,Rondônia,Rua 12 do Estado Rondônia,260.0,Apto 27
55,55,2018-07-10 18:40:07,Gabriela,Pires,gabriela@meu_email.com,9 1214-1539,Brasil,Rio de Janeiro,Rua 32 do Estado Rio de Janeiro,838.0,Apto 29
58,58,2018-09-13 03:13:02,Rafael,Rodrigues,rafael@meu_email.com,9 6550-3557,Brasil,Bahia,Praça 94 do Estado Bahia,647.0,Apto 25
63,63,2018-05-05 17:52:26,Caíque,Batista,caíque@teste.com,9 8818-5886,Brasil,Ceará,Rua 76 do Estado Ceará,239.0,Apto 19
65,65,2018-02-06 05:56:36,Willian,Freitas,NaN,9 3043-7382,Brasil,Rio de Janeiro,Rua 91 do Estado Rio de Janeiro,96.0,Apto 7
68,68,2018-11-14 11:04:35,José,Pires,josé@usuario.com,9 8189-2149,Brasil,Ceará,Avenida 99 do Estado Ceará,231.0,NaN
77,77,2018-11-30 10:29:55,Ana,Monteiro,ana@teste.com,9 3871-4132,Brasil,Bahia,Praça 86 do Estado Bahia,604.0,Apto 30
88,88,2017-10-12 15:17:05,Rafael,Batista,rafael@usuario.com,9 8656-5668,Brasil,Ceará,Rua 78 do Estado Ceará,787.0,Apto 3
89,89,2017-12-07 19:24:54,Daniela,Pires,daniela@usuario.com,9 6666-2265,Brasil,Bahia,Rua 31 do Estado Bahia,441.0,NaN

#### Tratando Nulos

In [8]:
import pandas as pd

In [9]:
df = pd.read_csv(r"C:\Users\Leticia\Desktop\Python-Banco de Dados\Banco de dados\Origem\arquivos_csv\Clientes.csv",delimiter=',')
df.head(5)

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12

In [12]:
#substrir os valores nulos - NAN
df['Number'] = df ['number'].fillna( 'S/ numuero')
df

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals,Number
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16,S/ numuero
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17,989.0
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN,534.0
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN,S/ numuero
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12,191.0
...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,2018-10-01 11:35:59,Mariana,Rosa,mariana@usuario.com,9 3139-2145,Brasil,NaN,NaN,NaN,NaN,S/ numuero
96,96,2018-01-23 19:14:21,Paulo,Câmara,paulo@usuario.com,9 4785-1135,Brasil,Sergipe,Praça 73 do Estado Sergipe,219.0,Apto 6,219.0
97,97,2018-07-04 18:45:41,Marta,Góes,marta@teste.com,9 4102-4352,Brasil,Paraná,Rua 61 do Estado Paraná,402.0,Apto 24,402.0
98,98,2018-01-24 16:21:06,Cibele,Costa,cibele@meu_email.com,9 4211-6968,Brasil,Mato Grosso,Praça 75 do Estado Mato Grosso,24.0,NaN,24.0
99,99,2018-07-24 08:26:27,Jéssica,Jesus,jéssica@usuario.com,9 6100-1466,Brasil,Paraná,Avenida 19 do Estado Paraná,738.0,Conjunto 22,738.0

In [13]:

#Substituir valores nulos --> NaN
df['street'] =           df['street'].fillna('Nao Cadasatrado')
df['email'] =            df['email'].fillna('Email Não Cadastrado')
df['number'] =           df['number'].fillna('Sem Numero')
df['additionals'] =      df['additionals'].fillna('Sem Info')
df['state'] =           df ['state'].fillna ('Sem estado')

In [14]:
df.head(30)

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals,Number
0,0,2017-11-01 14:45:41,Marta,Jesus,Email Não Cadastrado,9 9102-7834,Brasil,Acre,Nao Cadasatrado,Sem Numero,Conjunto 16,S/ numuero
1,1,2017-10-16 00:50:39,Luana,Almeida,Email Não Cadastrado,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17,989.0
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,Sem Info,534.0
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,Nao Cadasatrado,Sem Numero,Sem Info,S/ numuero
4,4,2018-08-06 07:24:16,Romário,Teixeira,Email Não Cadastrado,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12,191.0
5,5,2018-01-05 17:20:49,Marcelo,Barroso,Email Não Cadastrado,9 2830-2088,Brasil,Rio Grande do Sul,Rua 28 do Estado Rio Grande do Sul,805.0,Conjunto 13,805.0
6,6,2018-06-18 11:17:42,Cristiano,Elísio,cristiano@exemplo.com,9 3532-8404,Brasil,Goiás,Rua 78 do Estado Goiás,877.0,Apto 14,877.0
7,7,2018-02-08 12:36:09,Everton,Barbosa,everton@meu_email.com,9 2553-4087,Brasil,Distrito Federal,Avenida 86 do Estado Distrito Federal,864.0,Apto 14,864.0
8,8,2017-12-16 20:47:03,Gabriela,Alves,gabriela@exemplo.com,9 1353-8433,Brasil,Santa Catarina,Nao Cadasatrado,Sem Numero,Sem Info,S/ numuero
9,9,2018-11-11 11:48:41,Luan,Dias,luan@exemplo.com,9 2417-3678,Brasil,Distrito Federal,Avenida 54 do Estado Distrito Federal,889.0,Conjunto 14,889.0
10,10,2017-12-16 15:41:00,Mariana,Alves,mariana@meu_email.com,9 1846-6377,Brasil,Santa Catarina,Nao Cadasatrado,Sem Numero,Sem Info,S/ numuero
11,11,2018-05-16 03:39:52,James,Albuquerque,Email Não Cadastrado,9 2430-5905,Brasil,Sergipe,Rua 30 do Estado Sergipe,229.0,Sem Info,229.0
12,12,2018-03-28 00:24:00,Carol,Barboza,carol@exemplo.com,9 8487-3501,Brasil,Mato Grosso,Rua 31 do Estado Mato Grosso,1.0,Conjunto 23,1.0
13,13,2018-08-27 21:15:17,Carolina,Monteiro,carolina@teste.com,9 1226-4267,Brasil,Rio Grande do Sul,Rua 4 do Estado Rio Grande do Sul,444.0,Apto 21,444.0
14,14,2017-11-12 03:02:41,Francisco,Nascimento,francisco@exemplo.com,9 7264-9020,Brasil,Distrito Federal,Rua 75 do Estado Distrito Federal,47.0,Sem Info,47.0
15,15,2018-11-15 18:00:53,Stephanie,Barbosa,stephanie@usuario.com,9 1446-3560,Brasil,Mato Grosso,Nao Cadasatrado,Sem Numero,Conjunto 4,S/ numuero
16,16,2017-12-12 21:29:54,Laura,Santos,laura@exemplo.com,9 7802-6152,Brasil,Maranhão,Rua 57 do Estado Maranhão,213.0,Sem Info,213.0
17,17,2017-10-19 20:18:14,João,Magalhães,joão@exemplo.com,9 5995-1272,Brasil,Pernambuco,Rua 20 do Estado Pernambuco,781.0,Apto 17,781.0
18,18,2018-06-28 04:53:52,Jair,Magalhães,jair@exemplo.com,9 8368-1315,Brasil,Alagoas,Avenida 74 do Estado Alagoas,118.0,Conjunto 8,118.0
19,19,2018-10-20 19:31:52,Caíque,Monteiro,caíque@exemplo.com,9 9793-9986,Brasil,Piauí,Nao Cadasatrado,Sem Numero,Conjunto 13,S/ numuero
20,20,2017-12-22 10:51:28,Adalberto,Silva,adalberto@usuario.com,9 1338-1447,Brasil,São Paulo,Rua 57 do Estado São Paulo,851.0,Conjunto 20,851.0
21,21,2018-02-21 15:35:55,Diego,Freire,diego@teste.com,9 6686-4094,Brasil,Bahia,Praça 4 do Estado Bahia,906.0,Apto 20,906.0
22,22,2018-04-18 22:43:29,Heitor,Pereira,Email Não Cadastrado,9 4839-8118,Brasil,Maranhão,Avenida 84 do Estado Maranhão,948.0,Sem Info,948.0
23,23,2017-10-26 00:35:22,Maria,Pires,Email Não Cadastrado,9 8229-1067,Brasil,Amazonas,Avenida 80 do Estado Amazonas,581.0,Sem Info,581.0
24,24,2018-07-25 09:34:12,Jair,Barroso,jair@teste.com,9 6679-6120,Brasil,Ceará,Rua 86 do Estado Ceará,770.0,Apto 21,770.0
25,25,2018-08-07 12:22:40,Alice,Veloso,alice@exemplo.com,9 9869-3706,Brasil,Minas Gerais,Praça 73 do Estado Minas Gerais,571.0,Sem Info,571.0
26,26,2018-12-12 11:56:14,Eloá,da Silva,eloá@usuario.com,9 3982-5948,Brasil,Espírito Santo,Avenida 98 do Estado Espírito Santo,706.0,Sem Info,706.0
27,27,2018-11-08 11:12:47,Luan,Lima,luan@teste.com,9 2529-8197,Brasil,Acre,Praça 86 do Estado Acre,303.0,Apto 27,303.0
28,28,2017-11-26 05:17:39,Beatriz,Araújo,beatriz@usuario.com,9 4543-3853,Brasil,Minas Gerais,Praça 7 do Estado Minas Gerais,536.0,Conjunto 5,536.0
29,29,2018-06-03 17:08:52,Geisa,Santos,geisa@meu_email.com,9 4653-9739,Brasil,Rio Grande do Norte,Avenida 77 do Estado Rio Grande do Norte,486.0,Conjunto 13,486.0

#### Metodo Replace

In [ ]:
# Substituindo os nomes dos estados no DataFrame
"""
df['Coluna'] = df['coluna'].replace('valor_original', 'valor_substituto')
"""

In [15]:

# Resetar DF
df = pd.read_csv(r"C:\Users\Leticia\Desktop\Python-Banco de Dados\Banco de dados\Origem\arquivos_csv\Clientes.csv", delimiter=',')
df.head()

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12

In [19]:
#df['Coluna'] = df['coluna'].replace('valor_original', 'valor_substituto')
#df['country'] = df['country'].replace('Brasil', 'BR')
df['first_name'] = df['first_name'].replace('Luana', 'Carlão')
df

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,BR,Acre,NaN,NaN,Conjunto 16
1,1,2017-10-16 00:50:39,Carlão,Almeida,NaN,9 7328-8718,BR,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,BR,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,BR,Mato Grosso,NaN,NaN,NaN
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,BR,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12
...,...,...,...,...,...,...,...,...,...,...,...
95,95,2018-10-01 11:35:59,Mariana,Rosa,mariana@usuario.com,9 3139-2145,BR,NaN,NaN,NaN,NaN
96,96,2018-01-23 19:14:21,Paulo,Câmara,paulo@usuario.com,9 4785-1135,BR,Sergipe,Praça 73 do Estado Sergipe,219.0,Apto 6
97,97,2018-07-04 18:45:41,Marta,Góes,marta@teste.com,9 4102-4352,BR,Paraná,Rua 61 do Estado Paraná,402.0,Apto 24
98,98,2018-01-24 16:21:06,Cibele,Costa,cibele@meu_email.com,9 4211-6968,BR,Mato Grosso,Praça 75 do Estado Mato Grosso,24.0,NaN
99,99,2018-07-24 08:26:27,Jéssica,Jesus,jéssica@usuario.com,9 6100-1466,BR,Paraná,Avenida 19 do Estado Paraná,738.0,Conjunto 22

In [ ]:
df['state'] = df['state'].replace('São Paulo', 'SP')
df['state'] = df['state'].replace('Acre', 'AC')
df['state'] = df['state'].replace('Distrito Federal', 'DF')

In [ ]:
df.head(20)

In [20]:

# Resetar DF
df = pd.read_csv(r"C:\Users\Leticia\Desktop\Python-Banco de Dados\Banco de dados\Origem\arquivos_csv\Clientes.csv", delimiter=',')
df.head(10)

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12
5,5,2018-01-05 17:20:49,Marcelo,Barroso,NaN,9 2830-2088,Brasil,Rio Grande do Sul,Rua 28 do Estado Rio Grande do Sul,805.0,Conjunto 13
6,6,2018-06-18 11:17:42,Cristiano,Elísio,cristiano@exemplo.com,9 3532-8404,Brasil,Goiás,Rua 78 do Estado Goiás,877.0,Apto 14
7,7,2018-02-08 12:36:09,Everton,Barbosa,everton@meu_email.com,9 2553-4087,Brasil,Distrito Federal,Avenida 86 do Estado Distrito Federal,864.0,Apto 14
8,8,2017-12-16 20:47:03,Gabriela,Alves,gabriela@exemplo.com,9 1353-8433,Brasil,Santa Catarina,NaN,NaN,NaN
9,9,2018-11-11 11:48:41,Luan,Dias,luan@exemplo.com,9 2417-3678,Brasil,Distrito Federal,Avenida 54 do Estado Distrito Federal,889.0,Conjunto 14

In [21]:
# Fazendo a substituição de um valor específico com variavel
valor_original = 'São Paulo'
valor_substituto = 'SP'
df['state'] = df['state'].replace(valor_original, valor_substituto)

In [22]:
df.head(30)

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,SP,Avenida 59 do Estado São Paulo,534.0,NaN
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12
5,5,2018-01-05 17:20:49,Marcelo,Barroso,NaN,9 2830-2088,Brasil,Rio Grande do Sul,Rua 28 do Estado Rio Grande do Sul,805.0,Conjunto 13
6,6,2018-06-18 11:17:42,Cristiano,Elísio,cristiano@exemplo.com,9 3532-8404,Brasil,Goiás,Rua 78 do Estado Goiás,877.0,Apto 14
7,7,2018-02-08 12:36:09,Everton,Barbosa,everton@meu_email.com,9 2553-4087,Brasil,Distrito Federal,Avenida 86 do Estado Distrito Federal,864.0,Apto 14
8,8,2017-12-16 20:47:03,Gabriela,Alves,gabriela@exemplo.com,9 1353-8433,Brasil,Santa Catarina,NaN,NaN,NaN
9,9,2018-11-11 11:48:41,Luan,Dias,luan@exemplo.com,9 2417-3678,Brasil,Distrito Federal,Avenida 54 do Estado Distrito Federal,889.0,Conjunto 14
10,10,2017-12-16 15:41:00,Mariana,Alves,mariana@meu_email.com,9 1846-6377,Brasil,Santa Catarina,NaN,NaN,NaN
11,11,2018-05-16 03:39:52,James,Albuquerque,NaN,9 2430-5905,Brasil,Sergipe,Rua 30 do Estado Sergipe,229.0,NaN
12,12,2018-03-28 00:24:00,Carol,Barboza,carol@exemplo.com,9 8487-3501,Brasil,Mato Grosso,Rua 31 do Estado Mato Grosso,1.0,Conjunto 23
13,13,2018-08-27 21:15:17,Carolina,Monteiro,carolina@teste.com,9 1226-4267,Brasil,Rio Grande do Sul,Rua 4 do Estado Rio Grande do Sul,444.0,Apto 21
14,14,2017-11-12 03:02:41,Francisco,Nascimento,francisco@exemplo.com,9 7264-9020,Brasil,Distrito Federal,Rua 75 do Estado Distrito Federal,47.0,NaN
15,15,2018-11-15 18:00:53,Stephanie,Barbosa,stephanie@usuario.com,9 1446-3560,Brasil,Mato Grosso,NaN,NaN,Conjunto 4
16,16,2017-12-12 21:29:54,Laura,Santos,laura@exemplo.com,9 7802-6152,Brasil,Maranhão,Rua 57 do Estado Maranhão,213.0,NaN
17,17,2017-10-19 20:18:14,João,Magalhães,joão@exemplo.com,9 5995-1272,Brasil,Pernambuco,Rua 20 do Estado Pernambuco,781.0,Apto 17
18,18,2018-06-28 04:53:52,Jair,Magalhães,jair@exemplo.com,9 8368-1315,Brasil,Alagoas,Avenida 74 do Estado Alagoas,118.0,Conjunto 8
19,19,2018-10-20 19:31:52,Caíque,Monteiro,caíque@exemplo.com,9 9793-9986,Brasil,Piauí,NaN,NaN,Conjunto 13
20,20,2017-12-22 10:51:28,Adalberto,Silva,adalberto@usuario.com,9 1338-1447,Brasil,SP,Rua 57 do Estado São Paulo,851.0,Conjunto 20
21,21,2018-02-21 15:35:55,Diego,Freire,diego@teste.com,9 6686-4094,Brasil,Bahia,Praça 4 do Estado Bahia,906.0,Apto 20
22,22,2018-04-18 22:43:29,Heitor,Pereira,NaN,9 4839-8118,Brasil,Maranhão,Avenida 84 do Estado Maranhão,948.0,NaN
23,23,2017-10-26 00:35:22,Maria,Pires,NaN,9 8229-1067,Brasil,Amazonas,Avenida 80 do Estado Amazonas,581.0,NaN
24,24,2018-07-25 09:34:12,Jair,Barroso,jair@teste.com,9 6679-6120,Brasil,Ceará,Rua 86 do Estado Ceará,770.0,Apto 21
25,25,2018-08-07 12:22:40,Alice,Veloso,alice@exemplo.com,9 9869-3706,Brasil,Minas Gerais,Praça 73 do Estado Minas Gerais,571.0,NaN
26,26,2018-12-12 11:56:14,Eloá,da Silva,eloá@usuario.com,9 3982-5948,Brasil,Espírito Santo,Avenida 98 do Estado Espírito Santo,706.0,NaN
27,27,2018-11-08 11:12:47,Luan,Lima,luan@teste.com,9 2529-8197,Brasil,Acre,Praça 86 do Estado Acre,303.0,Apto 27
28,28,2017-11-26 05:17:39,Beatriz,Araújo,beatriz@usuario.com,9 4543-3853,Brasil,Minas Gerais,Praça 7 do Estado Minas Gerais,536.0,Conjunto 5
29,29,2018-06-03 17:08:52,Geisa,Santos,geisa@meu_email.com,9 4653-9739,Brasil,Rio Grande do Norte,Avenida 77 do Estado Rio Grande do Norte,486.0,Conjunto 13

In [23]:
import pandas as pd
# Resetar DF
df = pd.read_csv(r"C:\Users\Leticia\Desktop\Python-Banco de Dados\Banco de dados\Origem\arquivos_csv\Clientes.csv", delimiter=',')
df.head()

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,São Paulo,Avenida 59 do Estado São Paulo,534.0,NaN
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12

In [24]:
# Mapeando os nomes dos estados para substituição
# Obs itens criados entre chves {} significa dicionario - exemplo tirar o acento
mapeamento = {'Maranhão': 'Maranhao', 'Piauí': 'Piaui', 'Goiás': 'Goias','São Paulo':'SPteste'}

# Substituindo os nomes dos estados no DataFrame
df['state'] = df['state'].replace(mapeamento)

In [25]:
df.head(30)

,id,created_at,first_name,last_name,email,cell_phone,country,state,street,number,additionals
0,0,2017-11-01 14:45:41,Marta,Jesus,NaN,9 9102-7834,Brasil,Acre,NaN,NaN,Conjunto 16
1,1,2017-10-16 00:50:39,Luana,Almeida,NaN,9 7328-8718,Brasil,Rio Grande do Sul,Avenida 56 do Estado Rio Grande do Sul,989.0,Conjunto 17
2,2,2018-06-16 17:51:29,Frida,Mendes,frida@meu_email.com,9 5906-7552,Brasil,SPteste,Avenida 59 do Estado São Paulo,534.0,NaN
3,3,2018-01-17 03:02:58,Daniela,Avelino,daniela@exemplo.com,9 4642-9486,Brasil,Mato Grosso,NaN,NaN,NaN
4,4,2018-08-06 07:24:16,Romário,Teixeira,NaN,9 3093-6522,Brasil,Bahia,Praça 56 do Estado Bahia,191.0,Apto 12
5,5,2018-01-05 17:20:49,Marcelo,Barroso,NaN,9 2830-2088,Brasil,Rio Grande do Sul,Rua 28 do Estado Rio Grande do Sul,805.0,Conjunto 13
6,6,2018-06-18 11:17:42,Cristiano,Elísio,cristiano@exemplo.com,9 3532-8404,Brasil,Goias,Rua 78 do Estado Goiás,877.0,Apto 14
7,7,2018-02-08 12:36:09,Everton,Barbosa,everton@meu_email.com,9 2553-4087,Brasil,Distrito Federal,Avenida 86 do Estado Distrito Federal,864.0,Apto 14
8,8,2017-12-16 20:47:03,Gabriela,Alves,gabriela@exemplo.com,9 1353-8433,Brasil,Santa Catarina,NaN,NaN,NaN
9,9,2018-11-11 11:48:41,Luan,Dias,luan@exemplo.com,9 2417-3678,Brasil,Distrito Federal,Avenida 54 do Estado Distrito Federal,889.0,Conjunto 14
10,10,2017-12-16 15:41:00,Mariana,Alves,mariana@meu_email.com,9 1846-6377,Brasil,Santa Catarina,NaN,NaN,NaN
11,11,2018-05-16 03:39:52,James,Albuquerque,NaN,9 2430-5905,Brasil,Sergipe,Rua 30 do Estado Sergipe,229.0,NaN
12,12,2018-03-28 00:24:00,Carol,Barboza,carol@exemplo.com,9 8487-3501,Brasil,Mato Grosso,Rua 31 do Estado Mato Grosso,1.0,Conjunto 23
13,13,2018-08-27 21:15:17,Carolina,Monteiro,carolina@teste.com,9 1226-4267,Brasil,Rio Grande do Sul,Rua 4 do Estado Rio Grande do Sul,444.0,Apto 21
14,14,2017-11-12 03:02:41,Francisco,Nascimento,francisco@exemplo.com,9 7264-9020,Brasil,Distrito Federal,Rua 75 do Estado Distrito Federal,47.0,NaN
15,15,2018-11-15 18:00:53,Stephanie,Barbosa,stephanie@usuario.com,9 1446-3560,Brasil,Mato Grosso,NaN,NaN,Conjunto 4
16,16,2017-12-12 21:29:54,Laura,Santos,laura@exemplo.com,9 7802-6152,Brasil,Maranhao,Rua 57 do Estado Maranhão,213.0,NaN
17,17,2017-10-19 20:18:14,João,Magalhães,joão@exemplo.com,9 5995-1272,Brasil,Pernambuco,Rua 20 do Estado Pernambuco,781.0,Apto 17
18,18,2018-06-28 04:53:52,Jair,Magalhães,jair@exemplo.com,9 8368-1315,Brasil,Alagoas,Avenida 74 do Estado Alagoas,118.0,Conjunto 8
19,19,2018-10-20 19:31:52,Caíque,Monteiro,caíque@exemplo.com,9 9793-9986,Brasil,Piaui,NaN,NaN,Conjunto 13
20,20,2017-12-22 10:51:28,Adalberto,Silva,adalberto@usuario.com,9 1338-1447,Brasil,SPteste,Rua 57 do Estado São Paulo,851.0,Conjunto 20
21,21,2018-02-21 15:35:55,Diego,Freire,diego@teste.com,9 6686-4094,Brasil,Bahia,Praça 4 do Estado Bahia,906.0,Apto 20
22,22,2018-04-18 22:43:29,Heitor,Pereira,NaN,9 4839-8118,Brasil,Maranhao,Avenida 84 do Estado Maranhão,948.0,NaN
23,23,2017-10-26 00:35:22,Maria,Pires,NaN,9 8229-1067,Brasil,Amazonas,Avenida 80 do Estado Amazonas,581.0,NaN
24,24,2018-07-25 09:34:12,Jair,Barroso,jair@teste.com,9 6679-6120,Brasil,Ceará,Rua 86 do Estado Ceará,770.0,Apto 21
25,25,2018-08-07 12:22:40,Alice,Veloso,alice@exemplo.com,9 9869-3706,Brasil,Minas Gerais,Praça 73 do Estado Minas Gerais,571.0,NaN
26,26,2018-12-12 11:56:14,Eloá,da Silva,eloá@usuario.com,9 3982-5948,Brasil,Espírito Santo,Avenida 98 do Estado Espírito Santo,706.0,NaN
27,27,2018-11-08 11:12:47,Luan,Lima,luan@teste.com,9 2529-8197,Brasil,Acre,Praça 86 do Estado Acre,303.0,Apto 27
28,28,2017-11-26 05:17:39,Beatriz,Araújo,beatriz@usuario.com,9 4543-3853,Brasil,Minas Gerais,Praça 7 do Estado Minas Gerais,536.0,Conjunto 5
29,29,2018-06-03 17:08:52,Geisa,Santos,geisa@meu_email.com,9 4653-9739,Brasil,Rio Grande do Norte,Avenida 77 do Estado Rio Grande do Norte,486.0,Conjunto 13