In [3]:
import pandas as pd
import os

# Diretório dos arquivos Excel
diretorio = (r"C:\Users\Leticia\Desktop\Python-Banco de Dados\Banco de dados\Origem\arquivos_excel\Consolidar")

# Lista para armazenar os dados dos arquivos
dados = []

# Iterar sobre os arquivos Excel no diretório
for arquivo in os.listdir(diretorio):
    if arquivo.endswith('.xlsx'):
        caminho_arquivo = os.path.join(diretorio, arquivo)
        df = pd.read_excel(caminho_arquivo)
        dados.append(df)

# Consolidar os dados em um único DataFrame
consolidado = pd.concat(dados)
consolidado.head(10)

,Data,Id Venda,IdCategoria,Categoria,IdPais,Pais,idProduto,Produto,Custo fabricacao,Unidades Vendidas,Preco venda,Vendas total,Descontos
0,2021-04-02,573,1,Moda,636,Alemanha,15,Shorts,10,1033,20,20660,3674.400
1,2021-04-02,599,4,Acessórios,637,França,12,Relogio,120,739,15,11085,7795.125
2,2021-04-02,1125,1,Moda,636,Alemanha,15,Shorts,10,790,20,15800,3674.400
3,2021-04-02,1151,4,Acessórios,637,França,12,Relogio,120,953,15,14295,7795.125
4,2021-04-06,394,5,Automitivos,639,USA,8,Limpa vidros,250,290,300,87000,19392.000
5,2021-04-06,946,5,Automitivos,639,USA,8,Limpa vidros,250,28,300,8400,19392.000
6,2021-04-09,117,5,Automitivos,635,Canadá,10,Pneus,10,416,300,124800,11496.000
7,2021-04-09,557,1,Moda,638,México,5,Camiseta,10,305,20,6100,2959.200
8,2021-04-09,1109,1,Moda,638,México,5,Camiseta,10,1199,20,23980,2959.200
9,2021-04-10,574,1,Moda,637,França,15,Shorts,250,470,7,3290,1252.440